html, body {
  position: relative;
  height: 100%;
}

strong {
  font-style: italic;
}

/* Variables */
:root {
  --font-family-handwritten: 'Amita', cursive;
  --font-family-sans-serif: 'Leckerli One', cursive;
  --font-family-sans-serif-2: 'Alegreya Sans', sans-serif;
  --color-main: #973999;
  --color-secondary: #f8598b;
  --color-alternative: #f7bf00;
  --color-twitter: #1da1f2;
  --color-github: #24292e;
  --is-rounded: 500px;
  --border-colored-chips: 2px solid pink;
  --bg-socialBar: rgba(255,255,255,0.2);

  --socialBar-height-mobile: 50px;
  --socialBar-height: 75px;
  --hero-typed-text-position: 10px;
  --distance-line-separation-with-author: 20px;
  --distance-line-separation-with-author-tablet: 180px;
  --distance-line-separation-with-author-desktop: 300px;
}

/*************** Section *****************/
.section {
  padding: 30px;
}

/************** Social Bar ***************/
.socialBar {
  background: var(--bg-socialBar);
  height: var(--socialBar-height-mobile);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.socialBar-element {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin: auto 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  letter-spacing: 0.3px;
}
.socialBar-element:not(:last-child) {
  margin: auto 0 auto 10px;
}
.socialBar-element:hover {
  cursor: pointer;
}
.socialBar-element--twitter {
  background: var(--color-twitter)
}
.socialBar-element--github {
  background: var(--color-github)
}
.socialBar-element-icon {
  margin-right: 10px;
}

/****************** Hero *******************/
.hero {
  background: linear-gradient(to bottom right, var(--color-main), var(--color-secondary), var(--color-alternative));
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.hero__positioner {
  padding: 100px 0;
  width: 100%;
}
.hero__author {
  font-family: var(--font-family-handwritten);
  color: white;
  position: relative;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.2px;
}
.hero__author::before,
.hero__author::after {
  position: absolute;
  content: '';
  height: 1px;
  background-color: white;
  width: 50px;
  top: 50%;
}
.hero__author::before {
  position: absolute;
  left: var(--distance-line-separation-with-author);
}
.hero__author::after {
  right: var(--distance-line-separation-with-author);
  border-radius: 500px;
}.hero
.hero__slogan {
  font-family: var(--font-family-sans-serif);
  color: white;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}
.hero__typed-text {
  color: white;
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  left: var(--hero-typed-text-position);
  bottom: var(--hero-typed-text-position);
  right: var(--hero-typed-text-position);
}
/*************** About me *****************/
.aboutMe__article {}
.aboutMe__article-header {
  margin-bottom: 10px;
}
.aboutMe__article-title {
  font-size: 32px;
  font-family: var(--font-family-sans-serif-2);
  letter-spacing: 1px;
  line-height: normal;
}
.aboutMe__article-life {
  font-size: 18px;
  font-family: Open-Sans, Sans-serif;
  line-height: 24px;
  text-align: justify;
}
.aboutMe__article:not(:last-child) {
  margin-bottom: 40px;
}


/******************************************************************************/
/****************************** MEDIAQUERIES **********************************/
/******************************************************************************/
@media (min-width: 768px) {
  /*************** Section *****************/
  .section {
    padding: 50px;
  }
  /************** Social Bar ***************/
  .socialBar {
    justify-content: flex-end;
    height: var(--socialBar-height);
  }
  .socialBar-element {
    font-size: 18px;
    padding: 10px 20px;
  }
  /****************** Hero *******************/
  .hero {
    min-height: 100vh;
    padding: 0;
  }
  .hero__positioner {
    padding: 0;
  }

  .hero__author::before,
  .hero__author::after {
    width: 75px;
  }
  .hero__author::before {
    left: var(--distance-line-separation-with-author-tablet);
  }
  .hero__author::after {
    right: var(--distance-line-separation-with-author-tablet);
  }
  .hero__author {
    font-size: 40px;
  }
  .hero__slogan {
    font-size: 75px;
  }
  .hero__typed-text {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  /****************** Hero *******************/
  .hero__positioner {
    padding: 100px 0;
  }
  .hero__author::before {
    left: var(--distance-line-separation-with-author-desktop);
  }
  .hero__author::after {
    right: var(--distance-line-separation-with-author-desktop);
  }
  /*************** About me *****************/
  .aboutMe {
    display: flex;
  }
  .aboutMe__article {
    margin: 0 30px;
    margin-bottom: 0 !important;
  }
}
