html, body {
  position: relative;
  height: 100%;
}

strong {
  font-style: italic;
}

/* Variables */
:root {
  --font-family-handwritten: 'Amita', cursive;
  --font-family-sans-serif: 'Leckerli One', cursive;
  --font-family-sans-serif-2: 'Alegreya Sans', sans-serif;
  --color-main: #973999;
  --color-secondary: #f8598b;
  --color-alternative: #f7bf00;
  --color-twitter: #1da1f2;
  --color-linkedin: #283e4a;
  --color-github: #24292e;
  --border-colored-chips: 2px solid pink;
  --menu-bg-color: white;
  --is-rounded: 500px;
  --menu-cross-color: var(--color-main);
  --menu-burger-position: 30px;

  --hero-typed-text-position: 10px;
  --distance-line-separation-with-author: 20px;
  --distance-line-separation-with-author-tablet: 180px;
  --distance-line-separation-with-author-desktop: 300px;
}

/*************** Section *****************/
.section {
  padding: 30px;
}
/*************** Menu *****************/
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  right: var(--menu-burger-position);
  top: var(--menu-burger-position);
}
.bm-menu {
  background: var(--menu-bg-color);
  width: 100%;
  display: flex;
}
.bm-morph-shape {
  fill: var(--menu-bg-color);
}
.bm-burger-bars {
  border-radius: 500px;
  background: white;
}
.bm-cross {
  background: var(--menu-cross-color);
  width: 4px !important;
  height: 20px !important;
  border-radius: 500px;
}
.bm-item-list {
  padding: 50px 25px;
  height: initial !important;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu-item {
  display: block;
  padding: 10px 20px;
  width: 100%;
  font-family: var(--font-family-sans-serif-2);
  font-size: 40px;
  letter-spacing: 0.35px;
  text-decoration: none;
  color: var(--color-main);
  box-sizing: border-box;
  display: flex;
  align-items: center
}
.menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.menu-item--socials {
  padding: 0;
  margin-top: 50px;
  display: flex !important;
  flex-wrap: wrap;
}
.menu-item--socials > li {
  width: 100%;
}
.menu-separator {
  width: 100%;
  height: 1px;
  background: #e0e1e2;
  margin-top: 40px;
  margin-bottom: 40px;
}
.menu-item-social {
  display: flex;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.menu-item-social > svg {
  margin-right: 10px;
}
.menu-item-social:not(:last-child) {
  margin-bottom: 20px;
}
.menu-item-social--twitter {
  background: var(--color-twitter);
  color: white;
}
.menu-item-social--linkedin {
  background: var(--color-linkedin);
  color: white;
}
.menu-item-social--github {
  background: var(--color-github);
  color: white;
}

/****************** Hero *******************/
.hero {
  background: linear-gradient(to bottom right, var(--color-main), var(--color-secondary), var(--color-alternative));
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.hero__positioner {
  padding: 0 0 10% 0;
  width: 100%;
}
.hero__author {
  font-family: var(--font-family-handwritten);
  color: white;
  position: relative;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.2px;
}
.hero__author::before,
.hero__author::after {
  position: absolute;
  content: '';
  height: 1px;
  background-color: white;
  width: 50px;
  top: 50%;
}
.hero__author::before {
  position: absolute;
  left: var(--distance-line-separation-with-author);
}
.hero__author::after {
  right: var(--distance-line-separation-with-author);
  border-radius: 500px;
}
.hero__slogan {
  font-family: var(--font-family-sans-serif);
  color: white;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}
.hero__typed-text {
  color: white;
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  left: var(--hero-typed-text-position);
  bottom: var(--hero-typed-text-position);
  right: var(--hero-typed-text-position);
}
/*************** About me *****************/
.aboutMe__article {}
.aboutMe__article-header {
  margin-bottom: 10px;
}
.aboutMe__article-title {
  font-size: 32px;
  font-family: var(--font-family-sans-serif-2);
  letter-spacing: 1px;
  line-height: normal;
}
.aboutMe__article-life {
  font-size: 18px;
  font-family: Open-Sans, Sans-serif;
  line-height: 24px;
  text-align: justify;
}
.aboutMe__article-life:not(:last-child) {
  margin-bottom: 20px;
}
.aboutMe__article:not(:last-child) {
  margin-bottom: 40px;
}


/******************************************************************************/
/****************************** MEDIAQUERIES **********************************/
/******************************************************************************/
@media (min-width: 768px) {
  /*************** Section *****************/
  .section {
    padding: 50px;
  }
  /*************** Menu *****************/
  .menu-item {
    font-size: 70px;
    padding: 20px;
  }
  .menu-item:hover:not(.menu-item--socials) {
    padding-left: 50px;
    font-style: italic;
  }
  .menu-item:hover:not(.menu-item--socials)::before {
    content: '>';
    margin-right: 25px;
  }
  .menu-item--socials {
    margin-top: 50px;
  }
  .menu-item--socials {
    display: flex;
  }
  .menu-item-socials {
    margin: 0;
  }
  /****************** Hero *******************/
  .hero {
    min-height: 100vh;
    padding: 0;
  }
  .hero__positioner {
    padding: 0;
  }

  .hero__author::before,
  .hero__author::after {
    width: 75px;
  }
  .hero__author::before {
    left: var(--distance-line-separation-with-author-tablet);
  }
  .hero__author::after {
    right: var(--distance-line-separation-with-author-tablet);
  }
  .hero__author {
    font-size: 40px;
  }
  .hero__slogan {
    font-size: 75px;
  }
  .hero__typed-text {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  /**************** menu *********************/
  .bm-item-list {
    padding: 25px;
  }
  .menu-item--socials {
    margin-top: 30px;
    flex-wrap: nowrap;
    font-size: 50px;
  }
  .menu-item--socials > li:first-child {
    margin-left: 0 !important;
  }
  .menu-item--socials > li {
    margin: 0 10px;
  }
  .menu-item--socials > li:last-child {
    margin-right: 0 !important;
  }
  /****************** Hero *******************/
  .hero__positioner {
    padding: 100px 0;
  }
  .hero__author::before {
    left: var(--distance-line-separation-with-author-desktop);
  }
  .hero__author::after {
    right: var(--distance-line-separation-with-author-desktop);
  }
  /*************** About me *****************/
  .aboutMe {
    display: flex;
  }
  .aboutMe__article {
    margin: 0 30px;
    margin-bottom: 0 !important;
  }
}
