body, html {
  background-color: var(--theme-night-color-main);
  color: #afafbf;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  width: 100%;
}

/* Variables */
:root {
  --font-family-handwritten: 'Amita', cursive;
  --font-family-sans-serif: 'Leckerli One', cursive;
  --font-family-sans-serif-2: 'Alegreya Sans', sans-serif;
  --font-family-raleway: 'Raleway', sans-serif;

  --color-main: #973999;
  --color-secondary: #f8598b;
  --color-alternative: #f7bf00;
  --color-twitter: #1da1f2;
  --color-linkedin: #283e4a;
  --color-github: #24292e;
  --color-title: var(--color-github);
  --color-text: var(--color-github);

  --theme-night-color-main: #191e27;
  --theme-night-color-secondary: #afafbf;

  --emoji-size: 15px;
  --switch-emojis-size: 12px;
}

/************* General *****************/
a.link {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 400;
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -3px 0 #007bff;
  box-shadow: inset 0 -3px 0 #007bff;
}
/************ Switch Widget ************/
.vrg-switch-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.vrg-switch-wrapper .vrg-switch-sun,
.vrg-switch-wrapper .vrg-switch-moon {
  font-size: var(--switch-emojis-size);
}

/*************** Switch ****************/
.vrg-switch {
  width: 45px !important;
  height: 26px !important;
  box-shadow: none !important;
}
.vrg-switch span {
  width: 20px !important;
  height: 20px !important;
  box-shadow: none !important;
  top: 2px !important;
}
.vrg-switch.vrg-switch--checked span {
  left: 20px !important;
}
.vrg-switch.vrg-switch--unchecked span {
  left: 4px !important;
}
/*************** Intro *****************/
.intro {
  padding: 120px 100px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #e7e7e7;
}
.intro__hello, .intro__tagline {
  font-size: 2.5rem;
}
.intro__hello {
  font-weight: 300;
}
/* Emoji */
.intro__hello i {
  font-size: var(--emoji-size);
  margin-bottom: 5px;
  margin-left: 10px;
}
.intro__tagline {
  font-weight: 300;
  max-width: 700px;
}
/* Emoji */
.intro__tagline i {
  font-size: var(--emoji-size);
  margin-left: 10px;
  margin-bottom: 4px;
}
.intro__tagline .name {
  margin-left: 10px;
  font-weight: 700;
}
.intro__contact {
  font-size: 1.25rem;
  font-weight: 400;
}
/* Emoji */
.intro__contact i {
  font-size: var(--emoji-size);
  margin: 0 5px 2px 5px;
}

@media screen and (max-width: 1024px) {
  .intro__hello, .intro__tagline {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 768px) {
  .intro__hello, .intro__tagline {
    font-size: 2rem;
  }
}

@media screen and (max-width: 630px) {
  .intro {
    padding: 120px 70px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    padding: 120px 50px;
  }

  .intro__hello, .intro__tagline {
    font-size: 1.75rem;
  }

  .intro__contact {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    padding: 70px 50px;
  }
}

@media screen and (max-width: 330px) {
  .intro__hello, .intro__tagline {
    font-size: 1.4rem;
  }
}



/************* ANIMATIONS ***************/
.smooth-bounce-animation {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}